:root {
    /* Font family */
    font-family: "Kumbh Sans", sans-serif;

    /* Font sizes */
    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.25rem;
    --fs-2xl: 1.5rem;
    --fs-3xl: 1.875rem;
    --fs-4xl: 2.25rem;
    --fs-5xl: 3rem;
    --fs-6xl: 3.75rem;

    /* Font weights */
    --fw-r: 400;
    --fw-b: 700;

    /* COLORS */
    /* Primary */
    --clr-primary-orange: hsl(26, 100%, 55%);
    --clr-primary-pale-orange: hsl(25, 100%, 94%);
    /* Neutral */
    --clr-neutral-very-dark-blue: hsl(220, 13%, 13%);
    --clr-neutral-dark-grayish-blue: hsl(219, 9%, 45%);
    --clr-neutral-grayish-blue: hsl(220, 14%, 75%);
    --clr-neutral-light-grayish-blue: hsl(223, 64%, 98%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-black: hsl(0, 0%, 0%);
    --lightbox-background: hsl(0, 0%, 0%, 0.75);
}

/* General */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
    object-fit: contain;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: inherit;
}

html {
    font-family: var(--ff-sans);
    font-size: 16px;
    font-weight: var(--fw-r);
    line-height: 1.7;
}

h1,
h2,
h3,
h4 {
    line-height: 1.1;
}

body {
    background-color: var(--clr-neutral-light-grayish-blue);
}


/* Common layout */
.wrapper {
    width: 90%;
    margin-inline: auto;
}

/* ---HEADER--- */

nav {
    display: flex;
    align-items: center;
    padding-block-start: 1rem;
    padding-block-end: 2rem;
}

.avatar-container {
    margin-left: auto;
    display: flex;
    gap: 1em;
}

.avatar {
    width: 25px;
}

/* Icon menu */
.icon-menu-container {
    margin-inline-end: 1rem;
    position: relative;
    z-index: 100;
}

.icon-close {
    display: none;
}

.icon-menu-container.expanded .icon-menu {
    display: none;
}

.icon-menu-container.expanded .icon-close {
    display: block;
}


/* Nav links */
.nav-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    top: 0;
    left: -100vw;
    width: 65%;
    height: 100vh;
    padding-inline-start: 1rem;
    padding-block-start: 6.5rem;
    background-color: var(--clr-neutral-white);
    font-size: var(--fs-lg);
    font-weight: var(--fw-b);
    color: var(--clr-neutral-very-dark-blue);
    transition: all .2s ease-in;
}

.nav-links.expanded {
    left: 0;
    box-shadow: 0 0 0 100vmax var(--lightbox-background);
}

/* ---MAIN--- */
/* Carousel */
.carousel {
    position: relative;
}

.carousel__nav {
    display: none;
}

.carousel__track {
    display: flex;
}

.carousel__slide {
    width: 0px;
    transition: all .3s ease-in-out;
}

.carousel__slide.current-slide {
    width: 100%;
}

.carousel__slide>img {
    height: 100vw;
    object-fit: cover;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: .8rem;
    background-color: var(--clr-neutral-white);
}

.previous {
    left: 5%;
}

.next {
    right: 5%;
}


@media screen and (min-width: 48em) {}